<% title "Reportes" %>

<ul>
  <li><%= link_to "Reporte general de rechazo y aprobación de
  secciones", sections_rejection_reports_path %></li><br />
  <li><%= link_to "Reporte general de desempeño de usuarios", users_performance_reports_path %></li>
</ul>

